.home {
    display: flex;
    flex-direction: row;
}
.page-navigation {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    color: white;
    padding: 20px 0 ;

}

.pages-btn {
    display: flex;
    gap: 20px;

}

.previous {
    width: 115px;
    height: 25px;
    background-color: #3C3C3C;
    border-radius: 60px;
    color: white;
}

.next {
    color: white;
    width: 115px;
    height: 25px;
    background-color: #3C3C3C;
    border-radius: 60px;
}

@media (max-width: 460px) {
    .page-navigation {
        width: 100%;
        flex-direction: column;
        gap: 15px;
        padding: 20px 0 ;
    }
    .pages-btn {
        align-self: center;
        justify-content: space-between;
    }
    .pages {
        font-size: 12px;
    }
}