@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1;
    font-weight: 400;
}

p {
    margin: 0 !important;
}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color: white;
}
button {
    background-color: transparent;
    border: none;
}

:root {
    /* theme color variables to use in HSL declarations */
    --hue: 220;
    --sat: 100;
    --light: 50;
    /*the threshold at which colors are considered "light".
  Range: integers from 0 to 100,
  recommended 50 - 70 */
    --threshold: 65;
}

.App {
    margin: 0 auto;
    text-align: center;
}



@media (min-width: 1470px) {
    .container {
        max-width: 1440px !important;
    }
}
